<div id="footer">
  <div class="left">
    <p>This is a collection of photos by <a href="http://kholbekj.surge.sh"><strong>Kasper Holbek Jensen</strong></a>.<br />
    All rights reserved.</p>
  </div>
  <div class="right">
    <ul class="contact">
      <li><a href="https://www.instagram.com/kholbekj/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="mailto:kholbekj@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Kasper Holbek Jensen 2016</li>
    </ul>
  </div>
</div>
